<div class="card-container ">
  <div class="ad1">
      <swiper [config]="config">
          <div class="swiper-wrapper">
              <div class="swiper-slide" *ngFor="let slider of sliders" (click)="openCardDetail(slider)">
                <img src="{{slider}}">
              </div>
          </div>
              <!-- Add Pagination -->
              <div class="swiper-pagination"></div>
              <!-- Add Arrows -->
              <!-- <div class="swiper-button-next"></div>
              <div class="swiper-button-prev"></div> -->
        </swiper>  
  </div>
  <div class="ad2">
    <div class="ad3">
        <img src="{{right_images[0]}}">
    </div>
    <div class="ad4">
        <img src="{{right_images[1]}}" (click)="openTestimonials()">
    </div>
  </div>
</div>
