.card-container {
    position: relative;
    padding-top: 30px;
    height: 100%;
    padding: 0;
    width: 100%;
    overflow: hidden;

    .ad1 {
        width: 60%;
        height: 95%;
        float: left;

          // ipad portrait
          @media only screen 
          and (min-device-width : 768px) 
          and (max-device-width : 1024px) 
          and (orientation : portrait) {
            width: 100%;
            height: 60%;
          }       

        swiper {
            height: 100%;
            .swiper-slide {
                padding: 5px;
                cursor: pointer;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
    .ad2 {
        width: 40%;
        float: left;
        height: 95%;
        .ad4 {
            cursor: pointer;
        }
        .ad3, .ad4 {
            height: 50%;
            padding: 0;
            img {
                margin: 0;
                padding: 10px;
                width: 100%;
                height: 100%;
            }
            @media only screen 
                and (min-device-width : 768px) 
                and (max-device-width : 1024px) 
                and (orientation : portrait) {
                    height: 100%;
                    width: 50%;
                    float: left;
                } 
        }
  // ipad portrait
  @media only screen 
  and (min-device-width : 768px) 
  and (max-device-width : 1024px) 
  and (orientation : portrait) {
    width: 100%;
    height: 40%;
  }             
}


}