<div class="card-container">
  <p class="title">
    <span *ngFor="let page of paginations" (click)="onPageClick(page)">
      {{page.name}} >
    </span>
  </p>
  <div class="card-row row">
    <div class="card-col col-4" *ngFor="let detail of cardDetails" (click)="openCardDetail(detail)">
      <div class="card-content card">
        <img src="{{detail.images.split(',')[0]}}">
        <span class="name">{{detail.model_name}}</span>
      </div>
    </div>
  </div>
  <!-- <div *ngIf="cardsShown" class="child" [hidden]="!cardsShown">
    <router-outlet></router-outlet>
  </div> -->
  <router-outlet></router-outlet>
</div>