<div class="card-container">
  <p class="title">
    <span *ngFor="let page of paginations" (click)="onPageClick(page)">
      {{page.name}} >
    </span>
  </p>
  <div class="card-row row">
    <div class="card-col col-4" *ngFor="let detail of categoryDetails" (click)="openCards(detail)">
      <div class="card-content card">
        <img src="{{detail.image}}">
        <span class="name">Rs. {{detail.name}}</span>
      </div>
    </div>
  </div>
  <!-- <div *ngIf="cardsShown" class="child" [hidden]="!cardsShown">
    <router-outlet></router-outlet>
  </div> -->
    <router-outlet></router-outlet>
</div>