<div class="container">
  <div class="content map-container">
left form
  </div>
  <div class="content form-container">
    <form #signupForm="ngForm" class="card inner">
      <span class="address"><span>Address: </span><i>Virgo, Bagamane constellation park,<br/> Ferns City, Doddanekkundi,<br/> Bengaluru, Karnataka 560048</i></span>
      <h3>Contact Us</h3>
      <div class="form-group">
        <input type="text" placeholder="Name" class="form-control" id="name" name="name" ngModel required>
      </div>
      <div class="form-group">
        <input type="text" placeholder="Email" class="form-control" id="email"  name="email" ngModel required>
      </div>
      <div class="form-group">
        <textarea rows="4" placeholder="Message" class="form-control" id="password"  name="password" ngModel required></textarea>
      </div>
      <div class="form-group">
      <button type="submit" class="btn signup">Send</button>
      </div>
    </form> 
  </div>
</div>