.container {
    height: 100vh;
    overflow: hidden;
    position: relative;
.content {
    width: 50%;
    float: left;
    form {
        margin: 0 auto;
        width: 60%;
        border: 0;
        margin-top: 30px;
        h3 {
            margin-top: 30px;
        }
        .form-group {
            margin-top: 10px;
        }
        .address {
            font-size: 14px;
            span {
               font-weight: 600;
            }
        }
        .signup {
            font-size: 14px;
            height:35px;
            padding-left: 30px;
            padding-right: 30px;
            text-align: center;
            background: #EE251E;
            border: 1 px #EE251E;
            color: white;
        }
    }
}
}