<div class="aboutus-container">
<div class="heading">
    <span>Welcome to SR Wedding Cards!</span>
</div>
<div class="row content">
  <div class="col-3">
      <img class="pic" src="../../assets/images/dummy_user.jpg">
  </div>
  <div class="col-9">Shree Rajaganapathi Cards is one of the foremost and well known stores for all kinds of wedding cards, calendars, diaries,thamboolam bags, notebooks and stationaries.we focussed our products should maintain quality with traditional and modern in designs.we have a exclusive store for wedding cards exclusively @salem.we have wedding cards for Hindu,Muslim and Christian weddings and proud to say that this wedding cards store will serve the customers affordably over the years.
      Come and visit our stores for the beautiful wedding cards designs for your beautiful beginning with us.</div>
</div>
  

</div>