.aboutus-container {
    margin: 0;
    height: 80vh;
    width: 100%;
    padding: 0;
    .heading{
        text-align: center;
        font-weight: 600;
        color: #333333;
        font-size: 24px;
        text-shadow: 1px 1px gray;
    }
    .content {
        margin-top: 20px;
        font-size: 16px;
        color: #333333;
        .pic {
            width: 100%;
        }
    }
}