.card-container {
    position: relative;
    overflow: hidden;
    height: 100%;

    .title {
        font-size: 16px;
        padding: 10px;
        height: 50px;
        width: 100%;
        color: #333333;
        span {
            cursor: pointer;
            &:hover {
                color: blue;
            }
        }
    }
    
    .loader {
        background: white;
        position: absolute;
        width: 100%;
        height: 100%;
        img {
            display: block;
            margin: 0 auto;
            width: 10%;
        }
    }
    
    .card-row {
        margin:0;
        overflow: scroll;
        height: 100%;
        padding-bottom: 50px;
        .card-col {
            cursor: pointer;
            padding: 30px;
            padding-right: 60px;
            transition: all 0.25s;

            .card-content {
                width: 90%;
                overflow: hidden;
                img {
                    width: 100%;
                }
                .name {
                    text-align: center;
                    font-size: 14px;
                    padding: 10px;
                }
            }
            &:hover {
                padding: 20px;
             }

             @media only screen 
             and (min-device-width : 768px) 
             and (max-device-width : 1024px) 
             and (orientation : portrait) {
             padding: 10px;
             }     
        }
    }

    .cards {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .child {
        position: absolute;
        top: 0;
        background: green;
        width: 100%;
        overflow: hidden;
    }
}