.card-container {
    height: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background: white;
    background-position-y: 50px;
    position: absolute;
    top: 0;
    width: 100%;

    .title {
        font-size: 16px;
        padding: 10px;
        height: 50px;
        width: 100%;
        color: #333333;
        span {
            cursor: pointer;
            &:hover {
                color: blue;
            }
        }
    }

    .card-row {
        margin:0;
        .card-col { 
            cursor: pointer;
            padding: 30px;
            transition: all 0.25s;
            .card-content {
                width: 100%;
                overflow: hidden;
                img {
                    width: 100%;
                }
                .name {
                    text-align: center;
                    font-size: 14px;
                    padding: 10px;
                }
            }
            &:hover {
                padding: 20px;
             }
        }
    }

    .loader {
        width: 100%;
        height: -moz-calc(100% - 80px);
        height: -webkit-calc(100% - 80px);
        height: calc(100% - 80px);
        position: absolute;
        top: 80px;
        background: white;

        img {
            width: 60px;
        }
    }

    .detail-child {
        position: absolute;
        top: 0;
        width: 100%;
    }
}