<div class="card-container">
  <p class="title">
    <span *ngFor="let page of paginations" (click)="onPageClick(page)">
      {{page.name}} >
    </span>
  </p>
    <div class="card-row row">
      <div class="card-col col-3" *ngFor="let card of cardDetails" (click)="openCardDetail(card)">
        <div class="card-content card">
          <img src="{{card.images.split(',')[0]}}">
          <span class="name">{{card.model_name}}</span>
        </div>
      </div>
    </div>
    <!-- <div *ngIf="cardsShown" class="detail-child" [hidden]="!cardsShown">
      <router-outlet></router-outlet>
    </div> -->
    <router-outlet></router-outlet>
</div>