.cart-container {
    font-size: 14px;
    height: 93vh;

    .cart-list {
        width: 90%;
        position: relative;
        overflow: hidden;
        margin-top: 30px;

        .emptycart {
            margin: 0 auto;
            display: block;
            margin-top: 30px;
        }
        .row {
            padding: 0;
            height: 80px;
            width: 90%;
            line-height: 80px;
            border-bottom: 0.5px solid #c9c9c9;

            .image {
                img {
                    margin: 0;
                    width: 70px;
                    height: 70px;
                }
            }

            .image, .desc, .quantity, .price {
                text-align: center;
            }
           
            .price {
                position: relative;
            }
            &.cart-item {
                height: 80px;
                z-index: 1; 
                margin: 0;
                width: 90%;
                background: rgb(255, 239, 210);
                line-height: 80px;

                .sub-amount {
                    color: green;
                    font-weight: 600;

                    .remove {
                        position: absolute;
                        right: 0;
                        top: 0;
                        width: 30px;
                        cursor: pointer;
                    }
                }
            }
            &.heading {
                height: 50px;
                z-index: 1; 
                top: 156px;
                margin: 0;
                left: 5%;
                width: 90%;
                font-weight: 600;
                background: rgb(255, 211, 130);
                line-height: 50px;
            }
        }
    }
    .pay-btn {
        font-size: 14px;
        display: block;
        margin: 0 auto;
        margin-top: 20px;
    }
   }