<div class="cart-container">
  <div class="cart-list">
    <div class="row heading">
      <div class="image col-2">
        Image
      </div>
      <div class="desc col-2">
        <span>Name</span>
      </div>
      <div class="quantity col-1">
        <span>Qty</span>
      </div>
      <div class="price col-1">
        Price
      </div>
      <div class="sub-amount col-2">
        Sub-Amount
      </div>
      <div class="sub-amount col-2">
        GST
      </div>
      <div class="sub-amount col-2">
        Sub Total
      </div>
    </div>  
    <div class="cart-items">
      <div class="row cart-item" *ngFor="let cart of carts">
        <div class="image col-2">
          <img src="{{cart.image}}">
        </div>
        <div class="desc col-2">
          <span>{{cart.card.model_name}}</span>
        </div>
        <div class="quantity col-1">
          <span>{{cart.quantity}}</span>
        </div>
        <div class="price col-1">
           {{cart.card.price}}
        </div>
        <div class="sub-amount col-2">
          {{cart.price | number :'1.2-2'}}
        </div>
        <div class="sub-amount col-2">
          {{cart.gst}}
        </div>
        <div class="sub-amount col-2">
          {{cart.subTotal}}
          <img class="remove" src="../../assets/images/delete.png" (click)="removeCartItem(cart)">
        </div>
      </div>
    </div>
    <img class="emptycart" *ngIf="!carts?.length" src="../../assets/images/emptycart.png">
  </div>
  <button *ngIf="carts?.length" class="btn btn-success pay-btn" (click)="orderCard()">Place the Order for Rs. {{totalAmount}}</button>

  <button type="button" class="btn btn-primary" style="display: none;" #openModal data-toggle="modal" data-target="#exampleModalCenter">
    
  </button>

  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Order Status</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Your Order has been successfully created. You will receive a phone call from us regarding further details..
        </div>
        
      </div>
    </div>
  </div>
</div>