.card-container {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;

    text-align: center;
    background: white;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;

    .title {
        font-size: 16px;
        padding: 10px;
        height: 50px;
        width: 100%;
        text-align: left;
        color: #333333;
        span {
            cursor: pointer;
            &:hover {
                color: blue;
            }
        }
    }

    .detail-container {
        left: 15%;
        width: 80%;
        height: 80%;
        overflow: hidden;
        border: 0.3 px solid #929191;
        

        .images {
            float: left;
            width: 50%;
            height: 100%;
            // height: calc(width);
            background: white;
            img {
                width: 100%;
                cursor: pointer;
                height: 75%;
            }
            .colors {
                height: 25%;
                padding: 0;
                swiper {
                    height: 100%;
                    .swiper-slide {
                        padding: 5px;
                        .color-item {
                            border: 0.1px solid #e9e8e8;
                            cursor: pointer;
                            height: 100%;
                            .color-box {
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }
                }
            }
         }
     
         .details {
             text-align: left;
             float: left;
             width: 50%;
             height: calc(width);
             padding: 20px;
             padding-left: 50px;    

             .detail-item {
                margin-bottom: 20px;
                .name {
                    font-weight: 600;
                }
                .value {
                    
                    margin-left: 10px;
                }
             }
         }
         .purchase {
             form {
                 width: 100%;
                 .quantity-form {
                     select {
                         margin-left: 20px;
                     }
                }
                button {
                    margin-left: 20px;
                    height: 35px;
                    font-size: 14px;
                    padding: 5px 20px 5px 20px;
                    float: left;
                }
             }
         }
         @media only screen 
         and (min-device-width : 768px) 
         and (max-device-width : 1024px) 
         and (orientation : portrait) {
            left: 5%;
            width: 90%;
            height: 40%;
            top: 30%;
         }

         @media only screen 
         and (min-device-width : 768px) 
         and (max-device-width : 1024px) 
         and (orientation : landscape) {
           height: 60%;
         }
    }

}
// .swiper-button-next { 
//     width:20px;
//     height: 20px;
// }
// .swiper-button-prev { 
//     width:20px;
//     height: 20px;
// }