<div class="card-container">
  <p class="title">
    <span *ngFor="let page of paginations" (click)="onPageClick(page)">
      {{page.name}} >
    </span>
  </p>
  <div class="detail-container center-vertical">
      <div class="images">
          <img src="{{selectedImage}}" data-toggle="modal" data-target="#myModal">
          <div class="colors">
            <swiper [config]="config">
              <div class="swiper-wrapper">
                  <div class="swiper-slide" *ngFor="let image of images" (click)="onImageClicked(image)">
                    <div class="color-item center">
                      <img class="color-box inner" src="{{image}}">
                    </div>
                  </div>
              </div>
                  <!-- Add Pagination -->
                  <div class="swiper-pagination"></div>
                  <!-- Add Arrows -->
                  <!-- <div class="swiper-button-next"></div>
                  <div class="swiper-button-prev"></div> -->
            </swiper>  
          </div>
      </div>
      <div class="details">
           <div class="detail-item">
             <span class="name">Model Name: </span>
             <span class="value">{{card.model_name}}</span>
           </div>
           <div class="detail-item">
             <span class="name">Price: </span>
             <span class="value">Rs. {{card.price}} + Rs. {{gstAmount}} (GST) = Rs. {{card.price+gstAmount}}</span>
           </div>
           <div class="detail-item">
             <span class="name">Color: </span>
             <span class="value">{{card.color}}</span>
           </div>
           <div class="detail-item">
             <span class="name">Printing charges extra *: </span>
             <span class="value">{{card.printing_charges}}</span>
           </div>
           <div class="detail-item">
             <span class="name">Courier/Shipping extra *: </span>
             <span class="value">{{card.courier_charges}}</span>
           </div>
           <div class="purchase">
              <form class="form-inline" (ngSubmit)="addToCart(cartForm)" #cartForm="ngForm">
                  <div class="form-group quantity-form">
                    <label for="name">Quantity</label>
                    <select name="quantity" class="form-control" ngModel>
                        <option value="" disabled>Select</option>
                        <option *ngFor="let q of quantities" value="{{q}}">{{q}}</option>
                    </select>
                  </div>
                  <button type="submit" class="btn btn-success">Add to Cart</button>
             
              </form>
           </div>
      </div>
  </div>
  <div>
   
  </div>
  
</div>

<!-- The Modal -->
<div class="modal fade" id="myModal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
      
        <!-- Modal body -->
        <div class="modal-body" style="padding: 0;">
            <img src="{{selectedImage}}" style="width: 100%;">
        </div>
      
        
      </div>
    </div>
  </div>