.testimonial-container {
    overflow: hidden;
    .feedback-form {
        form {
            width: 70%;
            margin: 0 auto;
            margin-top: 30px;
        }
    }
    .feedbacks {
        .title {
            font-weight: 600;
        }
        ul {
            list-style: none;;
            .feedback-item {
                border: 0.5px solid rgb(192, 192, 192);
                padding: 8px;
                margin: 0;
                margin-top: 10px;
                .name {
                    font-weight: 600;
                    font-size: 16px;
                }
                .feedback {
                    font-size: 13px;
                    padding: 0;
                    margin: 0;
                    color: #747474;
                }
            }
        }
    }
}