<div class="testimonial-container">
  <div class="row">
    <div class="feedback-form col-6">
          <form (ngSubmit)="sendFeedback(feedbackForm)" #feedbackForm="ngForm">
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control" id="name"  name="name" ngModel required>
            </div>
       
            <div class="form-group">
              <label for="alterEgo">Feedback</label>
              <textarea type="text" class="form-control"  id="feedback" name="feedback" ngModel required></textarea>
            </div>
       
            <button type="submit" class="btn btn-success">Send Feedback</button>
       
          </form>
      
    </div>
    <div class="feedbacks col-6">
      <label class="title">Feedbacks</label>
      <ul>
        <li class="feedback-item" *ngFor="let feedback of feedbacks.slice().reverse()">
          <div>
            <span class="name">{{feedback.name}}</span>
            <p class="feedback"><i>{{feedback.feedback}}</i></p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>