/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/scss/bootstrap.scss";

@font-face{
    font-family: 'Noto Sans Regular';
    font-style: normal;
    src: url('../src/assets/fonts/NotoSans-Regular.ttf');
}
@font-face{
    font-family: 'Noto Sans Bold';
    font-style: normal;
    src: url('../src/assets/fonts/NotoSans-Bold.ttf');
}


html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    scroll-behavior: smooth;
    padding: 0;
    font-family: 'Noto Sans Regular';

    ::-webkit-scrollbar {
        width: 0px;  /* remove scrollbar space */
        background: transparent;  /* optional: just make scrollbar invisible */
    }
    /* optional: show position indicator in red */
    ::-webkit-scrollbar-thumb {
        background: #FF0000;
    }
}

.center-horizontal {
    margin: 0 auto;
    display: block;
}
.center-vertical {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.center { 
    position: relative;
    margin: 0;
    .inner {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
