<div class="home-container">
  <div class="header">
    <div class="logo">
      <img class="center-vertical img-logo" src="../../assets/images/logo.png">
      <img class="center-vertical name-logo" src="../../assets/images/namelogo.png">
    </div>
    <div class="sign-in-block">
      <button class="btn sign-in-btn" data-toggle="modal" data-target="#loginModal" *ngIf="!isLogin">Sign in</button>
      <button class="btn sign-in-btn" *ngIf="isLogin" (click)="logout()">Logout</button>
      <img src="../../assets/images/cart.png" class="cart" (click)="OnPageSelected(6,$event)">
    </div>
    <label class="sign-in-detail" *ngIf="isLogin">{{signInText}}</label>
  </div>
  <div class="bady">
     <nav class="navbar navbar-expand-sm navbar-dark" id="myHeader">  
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/home/ads']" routerLinkActive="active" (click)="OnPageSelected(0,$event)">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/home/cards']" routerLinkActive="active" (click)="OnPageSelected(1,$event)">Wedding Cards</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/home/diaries']" routerLinkActive="active" (click)="OnPageSelected(2,$event)">Diary</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/home/calendars']" routerLinkActive="active" (click)="OnPageSelected(3,$event)">Calendar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/home/thamboolam']" routerLinkActive="active" (click)="OnPageSelected(3,$event)">Thamboolam Bags</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/home/notebooks']" routerLinkActive="active" (click)="OnPageSelected(4,$event)">Stationaries</a>
        </li>
        <li class="nav-item"> 
          <a class="nav-link" [routerLink]="['/home/aboutus']" routerLinkActive="active" (click)="OnPageSelected(5,$event)">About Us</a>
        </li>
        <!-- <li class="nav-item">
          <a *ngIf="isLogin" class="nav-link cart" [routerLink]="['/home/mycart']" routerLinkActive="active">My Cart</a>
          <a *ngIf="!isLogin" class="nav-link cart" (click)="OnPageSelected(6,$event)">My Cart</a>
        </li> -->
      </ul>
    </nav>
  </div>
  <div class="page-container">
    <router-outlet #outlet="outlet"></router-outlet>
    <div class="loader center" [hidden]="!toShowLoader">
    <img class="inner" src="../../assets/images/dots.gif">
  </div>
  </div>
 </div>

<div class="modal fade" id="loginModal" tab index="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button id="close" class="btn close" data-dismiss="modal" aria-label="Close">cancel</button>
        <form (ngSubmit)="login(loginForm)" #loginForm="ngForm">
          <div>
            <label for="phone_num" class="form-title">Sign in with your Mobile Number</label>
            <input type="text" class="form-control" id="phone_num" placeholder="Enter Phone Number" name="phone_num" ngModel>
           
            <div id="recaptcha-container"></div>
          
            <button class="btn btn-primary sms-btn" type="submit">Send OTP</button>
          
            <div *ngIf="windowRef.confirmationResult">
              <hr>
              <label for="code">Enter your Verification Code Here</label><br>
              <div class="otp-input">
                <input type="text" name="code" [(ngModel)]="verificationCode">
                <button class="btn btn-send-otp" *ngIf="!verifyClicked" (click)="verifyLoginCode()">Verify</button>
              </div>
             </div>
        </div>
        <label class="error-msg" *ngIf="signInErrorMessage">{{signInErrorMessage}}</label>
        </form>
       </div>
    </div>
  </div>
</div>