.home-container {
  overflow: hidden;
  // .child {
  //   width: 100%;
  //   position: absolute;
  //   top: 156px;
  //   width: 90%;
  //   left: 5%;
  //   z-index: 1;
  //   overflow: hidden;
  // }
  .header {
    width: 90%;
    height: 17%;  
    margin-left: 5%;
    overflow: hidden;
    text-align: center;
    position: fixed;
    top: 0;
    z-index: 2;
    background: white;
    padding: 10px;
    
    .logo {
      height: 100%;
      position: relative;
      text-align: center;
      margin: 0 auto;
      .img-logo {
        width: 80px;
        height: 80px;
        left: 0;
      }
      .name-logo {
        width: 80px;
        height: 80px;
        left: 100px;
        width: 350px;
        height: 40px;
      }
    }
    
    .sign-in-block {
      float: right;
      font-size: 14px;
      position: absolute;
      right: 0;
      color: white;
      padding: 0;
      bottom: 10px;
      .sign-in-btn {
        background: #d32f2f;
        color: white;
        font-size: 14px;
        margin-right: 20px;
      }
      .cart {
        width: 40px;
        height: 40px;
        cursor: pointer;
      }
    }
    .sign-in-detail {
      float: left;
      font-size: 14px;
      position: absolute;
      right: 30%;
      color: #333333;
      padding: 0;
      bottom: 10px;
    }

    // ipad portrait
    @media only screen 
      and (min-device-width : 768px) 
      and (max-device-width : 1024px) 
      and (orientation : portrait) {
        padding-top: 25px;
    }    

    // ipad landscape
    @media only screen 
    and (min-device-width : 768px) 
    and (max-device-width : 1024px) 
    and (orientation : landscape) {
       padding-top: 15px;
    }   

    /* Ipad Pro Portrait */
    @media only screen 
    and (min-device-width: 1024px) 
    and (max-device-height: 1366px) 
    and (orientation: portrait) 
    and (-webkit-min-device-pixel-ratio: 1.5) {
    padding-top: 50px;
    img {
      width: 140px;
      height: 140px;
    }
    h3 {
      font-size: 26px;
    }
    
    .sign-in-block {
      font-size: 18px;
      .sign-in-btn {
        font-size: 18px;
      }
    }
    .sign-in-detail {
      font-size: 18px;
    }
  }

 // Desktop
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1366px) { 
    img {
      width: 80px;
      height: 80px;
    }
    h3 {
      font-size: 22px;
    }
    .sign-in-block {
      font-size: 16px;
      .sign-in-btn {
        font-size: 16px;
      }
    }
    .sign-in-detail {
      font-size: 16px;
    }
}

  /* Ipad Pro Landscape */
  @media only screen 
  and (min-device-width: 1366px) 
  and (max-device-height: 1024px) 
  and (orientation: landscape)  {
    padding-top: 25px;
   img {
     width: 120px;
     height: 120px;
   }
   h3 {
     font-size: 26px;
   }
   .sign-in-block {
     font-size: 20px;
     .sign-in-btn {
       font-size: 18px;
     }
   }
   .sign-in-detail {
     font-size: 20px;
   }

}

}
  
  .bady {
    top: 17%;
    width: 90%;
    left: 5%;
    z-index: 2;
    position: fixed;
    height: 10% !important;
    -webkit-box-shadow: 0 8px 6px -6px rgb(119, 117, 117);
    -moz-box-shadow: 0 8px 6px -6px rgb(119, 117, 117);;
    box-shadow: 0 8px 6px -6px rgb(119, 117, 117);

    @media only screen 
    and (min-device-width : 768px) 
    and (max-device-width : 1024px) 
    and (orientation : landscape) {
      height: 8% !important;
    }

    @media only screen 
    and (min-device-width : 768px) 
    and (max-device-width : 1024px) 
    and (orientation : portrait) {
      height: 6% !important;
    }

     /* iPad Pro Landscape */
     @media only screen 
     and (min-device-width: 1024px) 
     and (max-device-height: 1366px) 
     and (orientation: landscape) 
     and (-webkit-min-device-pixel-ratio: 1.5) {
      height: 8% !important;
     }

     @media screen 
     and (min-device-width: 1200px) 
     and (max-device-width: 1600px) { 
      height: 8%;
     }   

    .navbar {
      background: #d32f2f;
      height: 100%;

      .nav-link {
        cursor: pointer;
        margin-left: 10px;
        margin-right: 10px;
        color: white;
        font-size: 16px;
        &.active {
          font-weight: 600;
          background: #a82525;
          border-radius: 10px;
        }

        // ipad landscape
        @media only screen 
        and (min-device-width : 768px) 
        and (max-device-width : 1024px) 
        and (orientation : landscape) {
          margin-left: 10px;
          margin-right: 10px;
          font-size: 16px;
        }

         // ipad portrait
        @media only screen 
        and (min-device-width : 768px) 
        and (max-device-width : 1024px) 
        and (orientation : portrait) {
          margin-left: 10px;
          margin-right: 8px;
          font-size: 14px;
        }

      /* Ipad Pro Portrait */
      @media only screen 
      and (min-device-width: 1024px) 
      and (max-device-height: 1366px) 
      and (orientation: portrait) 
      and (-webkit-min-device-pixel-ratio: 1.5) {
        font-size: 18px;
      }  

      /* Desktop */
      @media only screen 
      and (min-device-width: 1200px) 
      and (max-device-height: 1600px) 
      and (orientation: landscape)  {
        font-size: 16px;
      }

       /* Pad Pro Landscape */
       @media only screen 
       and (min-device-width: 1366px) 
       and (max-device-height: 1024px) 
       and (orientation: landscape) 
       and (-webkit-min-device-pixel-ratio: 1.5) {
         font-size: 20px;
       }

    }
  }
}
  .page-container {
    position: absolute;    
    top: 27%;  
    width: 90%;
    height: 73%;
    margin-left: 5%;
    overflow: hidden;

    @media only screen 
    and (min-device-width : 768px) 
    and (max-device-width : 1024px) 
    and (orientation : portrait) {
      top: 23%;  
      height: 77%;
    }

    .loader {
      position: absolute;    
      top: 0;  
      width: 100%;
      height: 100%;
      background: white;

      img {
        width: 60px;
      }
    }
  }
}

form {
  font-size: 13px;
  .form-title{
    text-align: center;
    color: #d32f2f;
    font-weight: 600;
    text-align: center;
    display: block;
    font-size: 16px;
    padding: 10px;
  }
  .input-container {
    display: inline;
    .input {
      width: 20%;
    } 
  }
  .submit, .cancel {
    float: right;
    margin-left: 20px;
    background: #d32f2f;
    color: white;
  }
  #recaptcha-container{
    margin-top: 10px;
  }
  .sms-btn {
    cursor: pointer;
    margin-top: 10px;
    background: #d32f2f;
    border: none;
  }
  .otp-input {
    padding: 0;
    input, button {
      height: 40px;
    }
    .btn-send-otp {
      margin-top: 0;
      cursor: pointer;
      margin-top: 10px;
      color: white;
      background: #d32f2f;
      border: none;
      margin-left: 10px;
    }
  }
 
 .error-msg {
   margin-top: 10px;
   color: #d32f2f;
 }
}
.close {
  display: none;
} 


